<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="wheel_right_link">
        <mu1>1e+14</mu1>
        <mu2>1e+14</mu2>
        <kp>1e+12</kp>
        <kd>10</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="wheel_left_link">
        <mu1>1e+14</mu1>
        <mu2>1e+14</mu2>
        <kp>1e+12</kp>
        <kd>10</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="caster_front_link">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1e+6</kp>
        <kd>100</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo reference="caster_read_link">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1e+6</kp>
        <kd>100</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo>
        <plugin filename="gz_ros2_control-system"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find spiderbot_controllers)/config/spiderbot_controllers.yaml</parameters>
            </plugin>
            <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
            </plugin>
    </gazebo>
</robot>